<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Climate Logger</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="container">

    <h1>Climate Logger</h1>

    <div class="cards">

        <div class="card">
            <h2>🌡 Temperatur</h2>
            <p id="temperature">-- °C</p>
        </div>

        <div class="card">
            <h2>💧 Luftfeuchte</h2>
            <p id="humidity">-- %</p>
        </div>

        <div class="card">
            <h2>🧭 Luftdruck</h2>
            <p id="pressure">-- hPa</p>
        </div>

        <div class="card">
            <h2>📶 WLAN</h2>
            <p id="rssi">-- dBm</p>
        </div>

    </div>

    <h2>Temperatur</h2>
    <canvas id="temperatureChart"></canvas>

    <h2>Luftfeuchte</h2>
    <canvas id="humidityChart"></canvas>

    <h2>Luftdruck</h2>
    <canvas id="pressureChart"></canvas>

</div>

<script src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>
